.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.message {
  position: absolute;
  color: var(--primary);
  animation: hideMessage 5s linear forwards;
  pointer-events: none;
  caret-color: transparent;
  user-select: none;
  max-width: 200px;
}

@keyframes hideMessage {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
