.slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--third-background);
  caret-color: transparent;
  cursor: col-resize;
  &.vertical {
    cursor: row-resize;
  }
}
.filled {
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--forth-background);
  width: 100%;
  height: 100%;
}
