:root {
  --background: #101010;
  --secondary-background: #202020;
  --third-background: #303030;
  --forth-background: #404040;
  --fifth-background: #484848;
  --sixth-background: #505050;
  --disabled-background: #606060;
  --primary: #eee;
  --ascent: #20ff80;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}
