:root {
  --background: #101010;
  --secondary-background: #181818;
  --third-background: #202020;
  --forth-background: #282828;
  --fifth-background: #303030;
  --sixth-background: #383838;
  --disabled-background: #404040;
  --primary: #eee;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  height: 102vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
}
